---
layout: default
---


  <body>



<!-- start main1 -->
<div class="main_bg1">
  <div class="wrap">
    <div class="main1">
      <h2>Startups</h2>
    </div>
  </div>
</div>
<!-- start main -->
<div class="main_bg">
  <div class="wrap">
    <div class="main">
      <!-- start grids_of_3 -->


        
        {% for post in site.posts %}

          {% assign modulo = forloop.index0 | modulo: 3 %}
          
          {% if modulo == 0 or forloop.first %}
            <div class="grids_of_3">          
          {% endif %}


            <div class="grid1_of_3">
              <a href="{{ post.market_url }}">
                <img src="{{ post.image }}" alt=""/>
                <h3>{{ post.title }} </h3>
                <span class="b_btm"></span>
              </a>
            </div>

            {% if modulo == 2 or forloop.last %}
              <div class="clear"></div>
            </div>
          {% endif %}

        {% endfor %}


      <!-- end grids_of_3 -->
    </div>
  </div>
</div>



