    <!-- start header -->
    <div class="header_bg">
      <div class="wrap">
        <div class="header">
          <div class="logo">
            <a href="/"><img src="images/logo.png" alt=""/> </a>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>


  <div class="header_btm">
    <div class="wrap">
      <div class="header_sub">
        <div class="h_menu">
          <ul>
            <li class="active"><a href="/">Home</a></li> |
            <li><a href="http://startupbase.abstartups.com.br/startups/new" target="_blank">Cadastre sua Startup</a></li>  |
            <li><a href="{{ "/pages/cadastro/" | prepend: site.baseurl }}">Junte-se ao movimento</a></li>
          </ul>
        </div>
        <div class="top-nav">
          <nav class="nav">
            <a href="#" id="w3-menu-trigger"> </a>
            <ul class="nav-list" style="">
              <li class="nav-item"><a class="active" href="index.html">Home</a></li>
              <li class="nav-item"><a href="http://goo.gl/forms/hsxcLZvRlP">Cadastre sua Startup</a></li>
              <li class="nav-item"><a href="http://goo.gl/forms/8ff1YNZdWz">Cadastre seu Aplicativo</a></li>
            </ul>
          </nav>
          <div class="clear"> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
